@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;0,900;1,500;1,600;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", Sans-Serif;
	/* box-sizing: border-box;
	border: 1px solid red; */
}
body{
    background-color: rgb(231, 231, 231);
}
.head{
    background-color: #14213d;
    color: white;
    margin-top: 1rem;
    width: 100%;
    height: 80px;
    text-align: center;
    position: relative;
}
h2{
    padding: 20px;
}
.cont{
    margin-top: 4%;
    padding: 2rem 4rem;
    background-color: #14213d;
    color: white;
    height: 20em;
    align-items: center;
    border-radius: 10px;
}
.welcome{
    font-weight: bolder;
    font-size: 2rem;
    padding: 2rem 5.5rem;
    background-color: #FF9636;
    border-radius: 50px;
}
.flex{
    display: flex;
    position: relative;
}
.select-subject{
    margin-top: 1rem;
    margin-left: 2rem;
    display: none;
}
.active-sub{
    display: block;
}
#txt {
    margin: 10px;
    padding: 8px 25px;
    border: none;
    width: 13em;
    background-color: rgba(255, 255, 255, 0.952);
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}
.button {
    padding: 1.2rem 1rem;
    margin: 1.5rem 8rem;
    width: 10em;
    border-color: #3498db;
    color: rgb(10, 10, 10);
    font-size: 1.2rem;
    font-weight: bolder;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .button:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }

.glow-on-hover {
    margin: 0.5rem;
    width: 120px;
    height: 50px;
    font-weight: bolder;
    border: solid black;
    outline: none;
    color: rgb(12, 12, 12);
    background: rgb(253, 248, 248);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(248, 239, 239)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(250, 247, 247);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.img1{
    margin-top: 5%;
}
.img2{
    margin: 4rem 0 1rem 6rem;
}